.mainContainer{    
    font-family:sans-serif; 
    background-color: white;
    color: black; 
    
}
.mainContainer a{
    text-decoration-line: none;
    text-decoration: none;    
   
}
.mainContainer a:hover{
   opacity: 9.4;
}
.menuContainer{
    display: flex;    
    text-align: center; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.subMenuContainer{
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    z-index: 1;
    background-color: white;    
      position: absolute;
      left: 0;
      box-sizing: border-box;
      box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2); 
}
.menuTitle{
    padding: 20px;    
    text-align: center;
    font-size: 16px;
    font-weight:700;
    text-transform: uppercase;
    color: black;
}

.submenuL1Container{    
    padding: 20px;
    width: 20%;
    flex-basis: 20%;
    flex-wrap: wrap;
}

.submenuL1Title{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 18px;
    color: black;
    
}
.submenuL1Content{
    font-size: 16px;
    font-weight: 400;
    padding: 8px 5px 10px 5px;
    color: black;
}